<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>AskerKz</title>
    <link rel="stylesheet" href="/css/main.css">
    <!--<link rel="stylesheet" href="/css/bootstrap.css.css">
    <link rel="stylesheet" href="/css/bbootstrap.min.css">-->
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top mb-2">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img th:src="@{/images/logo.png}" alt="AskerFoto"><span th:text="#{site.name}"></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                    <li class="nav-item "> <a th:href="@{'/main/'}" class="nav-link" th:text="#{link.main}"></a></li>
                    <li class="nav-item"> <a th:href="@{'/main/about'}" class="nav-link" th:text="#{link.about}"></a></li>
                    <li class="nav-item"> <a th:href="@{/main/login/link}" class="nav-link" th:text="#{link.login}"></a></li>
                    <li class="nav-item"> <a th:href="@{/userCon/registrPage/link}" class="nav-link" th:text="#{link.register}"></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'?lang=en'}">English</a>
                            <a class="dropdown-item" th:href="@{'?lang=ru'}">Русский</a>
                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                    <li class="nav-item ">
                        <a th:href="@{'/main/'}" class="nav-link" th:text="#{link.main}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/main/about'}" class="nav-link" th:text="#{link.about}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{'/main/admin_profile'}"  th:text="#{link.adminPage}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" th:href="@{'/main/profile'}" th:text="#{link.userPage}"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" th:href="@{'?lang=en'}">English</a>
                            <a class="dropdown-item" th:href="@{'?lang=ru'}">Русский</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/logout'}" class="btn btn-outline-danger" role="button" th:text="#{link.logout}">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" layout:fragment="content">

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div layout:fragment="footer">
        <section id="footer">


        </section>
    </div>

</body>
</html>